@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// theme-color
$primary: #2d4059;
$secondary: #ffb400;
$tertiary: #ea5455;
$fourtiary: #f6f6f6;
$fiftiary: #ffffff;
$sixtiary: #8f8f8f;

// size variables
$sideMenuWidth: 280px;
$headingSection: 26.255%;
$headerTextSize: 18px; 
$em: 12px;

// font variables
$montserrat: 'Montserrat', sans-serif;

// mixins
@mixin title-font-size($n: $em) {
	font-size: $n * 1.125em;
}

@mixin paragraph-font-size($n: $em) {
	font-size: $n * .879em;
}

@mixin link-font-size($n: $em) {
	font-size: $n * .7em;
}


* {
	box-sizing: border-box;
}

body,
html,
h1 {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: $sideMenuWidth 1fr;
    grid-template-rows: 1fr;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

.main {
	position: absolute;
	left: $sideMenuWidth;
	width: calc(100% - 14.6%);
	display: inherit;
	grid-template-rows: minmax(260px, $headingSection) 1fr;
	height: 100vh;
	overflow: auto;
}

.inf__des{
    font-family: inherit;
    color: $primary;
    @include paragraph-font-size(1);
    font-weight: 300;
    margin: 0 0 16px;
}

.inf__l {
	font-family: inherit;
	margin: 0 0 12px;
	font-weight: 600;
	@include link-font-size(1);
	color: $primary;

	a {
		color: $tertiary;
		&:hover {
			color: $secondary;
		}
	}
}

.inf__tec {
	font-family: inherit;
	color: $secondary;
	@include link-font-size(1);
	font-weight: bold;
	text-transform: capitalize;
}

.btn {
	cursor: pointer;
	color: $fiftiary;
	font-weight: bold;
	padding: 0.375rem 1rem;
	height: 2.5rem;
	transition: all 0.4s ease-in-out;
	font-size: 1rem;
	background-color: $primary;
	border-color: $primary;
	border-radius: 4px;
	&:hover {
		background-color: $secondary;
	}
}

@media (min-width: 2559px){
	$sideMenuWidth: 400px;

	body{
		grid-template-columns: $sideMenuWidth 1fr;
	}

	.main{
		left: $sideMenuWidth;
	}

	.inf__des{
		@include paragraph-font-size(1.2);
	}

	.inf__l, .inf__tec{
		@include link-font-size(1.2);
	}

}