@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// theme-color
$primary: #2d4059;
$secondary: #ffb400;
$tertiary: #ea5455;
$fourtiary: #f6f6f6;
$fiftiary: #ffffff;
$sixtiary: #8f8f8f;
// size variables
$sideMenuWidth: 14.6%;
$headingSection: 26.255%;

// font variables
$montserrat: 'Montserrat', sans-serif;

* {
	box-sizing: border-box;
}

body,
html,
h1 {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: $sideMenuWidth 1fr;
	font-family: $montserrat;

	.side-menu {
		position: fixed;
		height: 100%;
		width: $sideMenuWidth;
		background-color: $primary;

		&__title {
			font-weight: bold;
			color: $fiftiary;
			font-size: 24px;
			padding: 24px 0 0;
			text-align: center;

			a {
				color: $fiftiary;
				text-decoration: none;
				background-color: transparent;
				&:hover {
					color: $secondary;
				}
			}
		}

		&__container {
			padding: 24px 16px;
			.container__profile {
				text-align: center;

				img {
					max-width: 160px;
					margin: 0 0 16px;
					border-radius: 50%;
					vertical-align: middle;
					border-style: none;
				}

				&--bio {
					margin: 0 0 16px;
					color: $fiftiary;
					font-size: 14px;
				}

				&--social {
					color: $fiftiary;
					font-size: 16px;
					margin: 0 0 16px;
					padding: 8px 0px;
					list-style: none;

					li {
						margin: 0 8px 0 0;
						display: inline-block;

						a {
							width: 32px;
							height: 32px;
							padding: 8px 0 0 0;
							background-color: $fiftiary;
							display: inline-block;
							text-align: center;
							border-radius: 50%;
							transition: all 0.4s ease-in-out;

							img {
								width: 16px;
								height: 16px;
							}

							&:hover {
								background-color: $secondary;
							}
						}
					}
				}

				hr {
					border-color: rgba(196, 192, 192, 0.37);
				}
			}
		}
	}

	.main-content {
		position: absolute;
		left: $sideMenuWidth;
		width: calc(100% - 14.6%);
		display: inherit;
		grid-template-rows: $headingSection 1fr;
		height: 100vh;

		&__description {
			background-color: $fourtiary;
			padding: 48px 0px;

			&--text {
				margin: 0 281px;
				text-align: center;
				height: -webkit-fill-available;

				h1 {
					margin-bottom: 8px;
				}

				p {
					color: $primary;
					margin-bottom: 35px;
				}

				a {
					cursor: pointer;
					color: $fiftiary;
					font-weight: bold;
					padding: 0.375rem 1rem;
					height: 2.5rem;
					transition: all 0.4s ease-in-out;
					font-size: 1rem;
					background-color: $primary;
					border-color: $primary;
					border-radius: 4px;
					&:hover {
						background-color: $secondary;
					}
				}
			}
		}
		&__filters {
			text-align: center;

			.filters {
				list-style: none;
				font-size: 14px;
			}
		}

		&__projects {
			padding: 48px;

			.container {
				.main-content__filters {
					ul {
						display: flex;
						justify-content: center;
						align-items: center;
					}
					li {
						display: inline-block;
						padding: 4.4px 4px;
						cursor: pointer;
						margin-right: 32px;
						color: $sixtiary;
						font-weight: bold;

						&:hover {
							color: $primary;
						}

						&.active {
							border-top: 2px solid $secondary;
							color: $secondary;
							font-weight: bold;
						}
					}
				}
				#projects {
					display: grid;
					grid-template-columns: repeat(2, 540px);
					grid-gap: 50px;
					padding: 0 auto;
					justify-content: center;
					grid-template-rows: repeat(auto-fit, 231px);

					.projects__item {
						background-color: $fourtiary;
						width: 540px;
						display: grid;
						grid-template-columns: 35% 65%;

						&--image {
							margin: 0 auto;
							img {
								object-fit: cover;
								width: 100%;
								height: 231px;
							}
						}

						&--information {
							padding: 20px;
							box-sizing: border-box;
							h2 {
								text-transform: capitalize;
								font-family: inherit;
								color: $primary;
								font-size: 18px;
								margin: 0 0 12px;
							}

							p {
								font-family: inherit;
								color: $primary;
								font-size: 14px;
								font-weight: 300;
								margin: 0 0 16px;
							}

							.information__link {
								font-family: inherit;
								margin: 0 0 12px;
								font-weight: 600;
								font-size: 11.2px;
								color: $primary;

								a {
									color: $tertiary;
									&:hover {
										color: $secondary;
									}
								}
							}

							.information__technologies {
								font-family: inherit;
								color: $secondary;
								font-size: 11.2px;
								font-weight: bold;
								text-transform: capitalize;
							}
						}
					}
				}
			}
		}
	}
}
